# Nextflow
/work
/.nextflow/
/.nextflow.log
/.nextflow.log.*
/tmp

# External python stuff
/src

# created by execution of pipeline, if you have the data files inside the git repo
*.cms

# OS
.DS_Store